@model ChangingMajorsManagementSystem.Models.StuChangePasswordModel
<script type="text/javascript">
    $(function () {
        var userid = $("#AAuserid").html();
        $("#UserNum").val(userid);
    });
    function submitvalue() {
        $("#changePasswordDIVForm1").submit();
    }
</script>
@using (Ajax.BeginForm("StuChangePassword", "Student", null,
       new AjaxOptions
{
    UpdateTargetId = "changePasswordDIV",
    HttpMethod = "POST"
}, new { id = "changePasswordDIVForm1" }))
{
    <div>
        <div class="searchbox" style="background: #F2F6FB; border-bottom: 1px solid #B8D0D6;">
            <table cellpadding="5px" cellspacing="5px" border="0px">
                <tr>
                    <td>
                        @Html.LabelFor(Model => Model.UserNum)
                    </td>
                    <td>
                        <div class="input">@Html.TextBoxFor(Model => Model.UserNum, new { @readonly = "readonly" })</div>
                    </td>
                    <td>
                        @Html.LabelFor(Model => Model.Password)
                    </td>
                    <td>
                        <div class="input">@Html.TextBoxFor(Model => Model.Password, new { @readonly = "readonly" })</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(Model => Model.NewPassword)
                    </td>
                    <td>
                        <div class="input">@Html.PasswordFor(Model => Model.NewPassword)</div>
                    </td>
                    <td>
                        @Html.LabelFor(Model => Model.ConfirmPassword)
                    </td>
                    <td>
                        <div class="input">@Html.PasswordFor(Model => Model.ConfirmPassword)</div>
                    </td>
                    <td>
                        <div class="button">
                            <a href="#" onclick="submitvalue()"><span>修改密码</span></a></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
