@model ChangingMajorsManagementSystem.Models.UserInfoModel
<script type="text/javascript">
    $(function () {
        //archbox 中的 select 事件
        bodyclick = document.getElementsByTagName('body').item(0);
        init('PartailStuDetail');
        rSelects();
        bodyclick.onclick = function () {
            for (i = 0; i < selects.length; i++) {
                //alert(selects[i].name);
                document.getElementById('select_info_' + selects[i].name).className = 'tag_select';
                //                                $("#select_info_" + selects[i].name).attr("class", "tag_select");
                //                                $("#options_" + selects[i].name).css("display", "none");
                document.getElementById('boxul_' + selects[i].name).style.display = 'none';
                //			$('select_info_' + selects[i].name).className = 'tag_select';
                //			$('options_' + selects[i].name).style.display = 'none';
            }
        }
        //archbox 中的 select 事件
    });
    function setValue() {
        //        var majorName = $("#select_info_majorName").attr("value");
        //        var sysMajorName = $("#select_info_sysMajorName").attr("value");
        //        var userDisciplinaryAward = $("#select_info_userDisciplinaryAward").attr("value");
        //        var userDemotion = $("#select_info_userDemotion").attr("value");
        //        var userArtsScience = $("#select_info_userArtsScience").attr("value");
        //        var filedClass = $("#select_info_filedClass").attr("value");
        //        $("#MajorName").val(majorName);
        //        $("#SysMajorName").val(sysMajorName);
        //        $("#UserDisciplinaryAward").val(userDisciplinaryAward);
        //        $("#UserDemotion").val(userDemotion);
        //        $("#UserArtsScience").val(userArtsScience);
        //        $("#FiledClass").val(filedClass);
        $("#StuDetailTableSubForm").submit();
    }
</script>
<div id="PartailStuDetail">
    <div class="panelBar">
        查询结果</div>
    <div class="searchbox" style="background: #F2F6FB; border-bottom: 1px solid #B8D0D6;">
        @using (Ajax.BeginForm("StuDetailTableSub", "Student", null,
new AjaxOptions
{
    UpdateTargetId = "stuDetailTable",
    HttpMethod = "POST",
}, new { id = "StuDetailTableSubForm" }))
        {
            <table cellpadding="5px" cellspacing="5px" border="0px">
                <tr>
                    <td>
                        @Html.LabelFor(Model => Model.UserNum)
                    </td>
                    <td>
                        <div class="input">
                            @Html.TextBoxFor(Model => Model.UserNum)</div>
                    </td>
                    <td rowspan="6" width="50px">
                    </td>
                    <td>
                        @Html.LabelFor(Model => Model.UserName)
                    </td>
                    <td>
                        <div class="input">
                            @Html.TextBoxFor(Model => Model.UserName)</div>
                    </td>
                    <td rowspan="6" width="50px">
                    </td>
                    <td>
                        @Html.LabelFor(Model => Model.MajorName)
                    </td>
                    @{var major = ViewData["major"] as SelectList;}
                    @if (major == null)
                    {
                        <td>
                            <div class="input">
                                @Html.TextBox("当前无专业数据", "当前无专业数据,由于未发起,请先发起")</div>
                        </td>
                    }
                    else
                    { 
                   
                        <td>
                            <div class="uboxstyle">
                                @Html.DropDownList("MajorName", major)
                            </div>
                        </td>
                    
                    }
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(Model => Model.SysMajorName)
                    </td>
                    @if (major == null)
                    {
                        <td>
                            <div class="input">
                                @Html.TextBox("当前无专业数据", "当前无专业数据,由于未发起,请先发起")</div>
                        </td>
                    }
                    else
                    { 
                        <td>
                            <div class="uboxstyle">
                                @Html.DropDownList("SysMajorName", major)
                            </div>
                        </td>
                    }
                    <td>
                        @Html.LabelFor(Model => Model.UserAddress)
                    </td>
                    <td>
                        <div class="input">
                            @Html.TextBoxFor(Model => Model.UserAddress)</div>
                    </td>
                    @{var fileClass = ViewData["FileClass"] as SelectList;}
                    <td>
                        @Html.LabelFor(Model => Model.UserDisciplinaryAward)
                    </td>
                    @if (fileClass == null)
                    {
                        <td>
                            <div class="input">
                                @Html.TextBox("当前无数据", "当前无数据")</div>
                        </td>
                    }
                    else
                    { 
                        <td>
                            <div class="uboxstyle">
                                @Html.DropDownList("UserDisciplinaryAward", fileClass)
                            </div>
                        </td>
                    }
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(Model => Model.UserDemotion)
                    </td>
                    @{var demotion = ViewData["demotion"] as SelectList;}
                    @if (demotion == null)
                    {
                        <td>
                            <div class="input">
                                @Html.TextBox("当前无专业数据", "当前无专业数据")</div>
                        </td>
                    }
                    else
                    { 
                        <td>
                            <div class="uboxstyle">
                                @Html.DropDownList("UserDemotion", demotion)
                            </div>
                        </td>
                    }
                    <td>
                        @Html.LabelFor(Model => Model.UserCreditWeightedAverage)
                    </td>
                    <td>
                        <div class="input">
                            @Html.TextBoxFor(Model => Model.UserCreditWeightedAverage)</div>
                    </td>
                    @{var ArtsScience = ViewData["ArtsScience"] as SelectList;}
                    <td>
                        @Html.LabelFor(Model => Model.UserArtsScience)
                    </td>
                    @if (ArtsScience == null)
                    {
                        <td>
                            <div class="input">
                                @Html.TextBox("当前无专业数据", "当前无专业数据")</div>
                        </td>
                    }
                    else
                    { 
                        <td>
                            <div class="uboxstyle">
                                @Html.DropDownList("UserArtsScience", ArtsScience)
                            </div>
                        </td>
                    }
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(Model => Model.LongPhone)
                    </td>
                    <td>
                        <div class="input">
                            @Html.TextBoxFor(Model => Model.LongPhone)</div>
                    </td>
                    <td>
                        @Html.LabelFor(Model => Model.ShortPhone)
                    </td>
                    <td>
                        <div class="input">
                            @Html.TextBoxFor(Model => Model.ShortPhone)</div>
                    </td>
                    <td>
                        @Html.LabelFor(Model => Model.MajorRanking)
                    </td>
                    <td>
                        <div class="input">
                            @Html.TextBoxFor(Model => Model.MajorRanking)</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(Model => Model.UserMajorRankingRatio)
                    </td>
                    <td>
                        <div class="input">
                            @Html.TextBoxFor(Model => Model.UserMajorRankingRatio)</div>
                    </td>
                    <td>
                        @Html.LabelFor(Model => Model.FiledClass)
                    </td>
                    @if (fileClass == null)
                    {
                        <td>
                            <div class="input">
                                @Html.TextBox("当前无专业数据", "当前无专业数据")</div>
                        </td>
                    }
                    else
                    { 
                        <td>
                            <div class="uboxstyle">
                                @Html.DropDownList("FiledClass", fileClass)
                            </div>
                        </td>
                    }
                    <td>
                        @Html.LabelFor(Model => Model.UserEnglishLevelFour)
                    </td>
                    <td>
                        <div class="input">
                            @Html.TextBoxFor(Model => Model.UserEnglishLevelFour)</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(Model => Model.UserEnglishLevelSix)
                    </td>
                    <td>
                        <div class="input">
                            @Html.TextBoxFor(Model => Model.UserEnglishLevelSix)</div>
                    </td>
                </tr>
                <tr>
                    <td valign="top" style="padding-top: 10px;">
                        个人荣誉:
                    </td>
                    <td colspan="4">
                        <div class="rongyu">
                            <div class="increase_inform_tl">
                                <div class="increase_inform_tr">
                                    <div class="increase_inform_tm">
                                    </div>
                                </div>
                            </div>
                            <div class="increase_inform_mlr">
                                <div class="increase_inform_mm">
                                    @Html.TextAreaFor(Model => Model.Honour)
                                </div>
                            </div>
                            <div class="increase_inform_bl">
                                <div class="increase_inform_br">
                                    <div class="increase_inform_bm">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td colspan="3">
                    </td>
                </tr>
            </table>
            <div class="button" style="padding-top: 20px;">
                <a href="#" id="sub" onclick="setValue();"><span>修改并提交</span></a></div>
        }
    </div>
</div>
